steps:
    - name: "gcr.io/cloud-builders/gcloud"
      args:
          - "functions"
          - "deploy"
          - "daily-tasks"
          - "--trigger-topic"
          - "daily-tasks"
          - "--entry-point"
          - "dailyTasks"
          - "--region"
          - "[[MY-REGION]]"
          - "--runtime"
          - "nodejs18"
          - "--memory"
          - "256MB"
          - "--timeout"
          - "540s"
          - "--source"
          - "https://source.developers.google.com/projects/MY_RPOJECT/repos/MY-FUNCTIONS-REPO"

    - name: "gcr.io/cloud-builders/gcloud"
      args:
          - "functions"
          - "deploy"
          - "monthly-tasks"
          - "--trigger-topic"
          - "monthly-tasks"
          - "--entry-point"
          - "monthlyTasks"
          - "--region"
          - "[[MY-REGION]]"
          - "--runtime"
          - "nodejs18"
          - "--memory"
          - "256MB"
          - "--timeout"
          - "540s"
          - "--source"
          - "https://source.developers.google.com/projects/MY_RPOJECT/repos/MY-FUNCTIONS-REPO"

    - name: "gcr.io/cloud-builders/gcloud"
      args:
          - "functions"
          - "deploy"
          - "weekend-maintenance"
          - "--trigger-topic"
          - "weekend-maintenance"
          - "--entry-point"
          - "weekendMaintenance"
          - "--region"
          - "[[MY-REGION]]"
          - "--runtime"
          - "nodejs18"
          - "--memory"
          - "256MB"
          - "--timeout"
          - "540s"
          - "--source"
          - "https://source.developers.google.com/projects/MY_RPOJECT/repos/MY-FUNCTIONS-REPO"

    - name: "gcr.io/cloud-builders/gcloud"
      args:
          - "functions"
          - "deploy"
          - "weekly-tasks"
          - "--trigger-topic"
          - "weekly-tasks"
          - "--entry-point"
          - "weeklyTasks"
          - "--region"
          - "[[MY-REGION]]"
          - "--runtime"
          - "nodejs18"
          - "--memory"
          - "256MB"
          - "--timeout"
          - "540s"
          - "--source"
          - "https://source.developers.google.com/projects/MY_RPOJECT/repos/MY-FUNCTIONS-REPO"

    - name: "gcr.io/cloud-builders/gcloud"
      args:
          - "functions"
          - "deploy"
          - "weekly-tasks-beta"
          - "--trigger-topic"
          - "weekly-tasks"
          - "--entry-point"
          - "weeklyTasksBeta"
          - "--region"
          - "[[MY-REGION]]"
          - "--runtime"
          - "nodejs18"
          - "--memory"
          - "256MB"
          - "--timeout"
          - "540s"
          - "--source"
          - "https://source.developers.google.com/projects/MY_RPOJECT/repos/MY-FUNCTIONS-REPO"
